
body {
  background-color: #fff6f9;
}

/* JotPad title class in navbar */
.navbar-brand {
  margin-right: 0rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Main Add note form container */
.addNoteContainer {
  border: 1px solid #ccc;
  height: 100%;
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  margin: 50px 0px 50px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input_title {
  margin-bottom: 10px;
}

.input_descp {
  resize: none;
}

.cancelBtn {
  border: 0;
  text-decoration: underline;
}

.cancelBtn:hover {
  border: 0;
  background-color: inherit;
  color: black;
  text-decoration: underline;
}

/* Main div after add note form */
.notes {
  display: flex;
  flex-wrap: wrap;
}

/* styling cards and buttons */
.card {
  width: 18rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.card_btns {
  margin-right: 0.5rem;
  border-radius: 20%;
}

.delete_btn,
.edit_btn {
  width: 20px;
  height: 20px;
}

/* additional Button Styling Bootstrap */
.bg-danger {
    background-color: #cdb4db!important;
}
.btn-warning {
    background-color: #ffafcc;
    border-color: #f49dbd;
    margin-right: 0.5rem;
    border-radius: 20%;
}
.btn-warning:active,
.btn-warning:hover,
.btn-warning:focus
 {
  background-color: #f798ba !important;
  border-color: #f488af !important;
}
